################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/network-full-dive/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Solution1.sln
